body{
    background-color:blue;
}

.ecom{
   color: red;
   font-size: 10px;
}

.navbar-nav > li{
    list-style-type: none;
    padding-left: 20px; /* assumes you only want one row */
    font-size: 25px;
  }

  .login{
      color: yellow;
      margin-left: 0px;
  }

  .cart{
      margin-left:10px;
  }
  
  #card-total{
      display:inline-block;
      color: black;
      border-radius: 50%;
      text-align: center ;
      width: 25px;
      height: 20px;
      background-color: red;
      padding-bottom: 1px;
  }

  .box-element{
      box-shadow: hsl(0, 0%, 80%) 0 0 16px;
      border-radius: 4px;
      padding: 10px;
      background-color: #fff;
  }

  .product{
	border-radius: 0 0 4px 4px;
}

.thumbnail{
    margin-top: 50px;
    width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1); 
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

/* cart.html */

.boxy{
    padding :10px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec; 
}

.row-image{
    width:100px;
    height: 56px;
}

.chg-quantity-1{
    display: block;
    width: 12px;
    margin-top:5px;
    cursor:pointer;
    transition: 0.1s;
}

.chg-quantity-2{
    display: block;
    width: 12px;
    margin-top:5px;
    cursor:pointer;
    transition: 0.1s;
}

.quantity{
    display: inline-block;
    padding-right: 10px;
}